* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background: url(https://static.vecteezy.com/ti/vetor-gratis/p1/6891093-abstrato-gradiente-fundo-vermelho-escuro-adequado-para-apresentacao-de-fundo-website-card-promotion-and-social-media-concept-vetor.jpg);
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center; 
    align-items: center; 
    flex-direction: column; 
    min-height: 100vh; 
    background-color: #f8f8f8;
    padding-top: 100px; 
  
    animation: fadeIn 1s ease-out;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  .container {
    text-align: center;
    background-color: #e20303;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 80%; 
    max-width: 600px; 
    margin-top: 100px; 
    animation: slideIn 1s ease-out;
  }
  
  @keyframes slideIn {
    from {
      transform: translateY(-100%);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  h1 {
    font-size: 2.5em;
    color: #fff;
    margin-bottom: 20px;
  }
  
  .menu {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .menu-btn {
    background-color: #9e0606;
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .menu-btn:hover {
    background-color: #070403;
    transform: scale(1.05); 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); 
  }
  
  .menu-btn:focus {
    outline: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .footer {
    background-color: #920606;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    animation: slideUp 1s ease-out;
  }
  
  @keyframes slideUp {
    from {
      transform: translateY(100%);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  .footer p {
    font-size: 1.3em;
    margin: 0;
  }
  
  .header {
    display: flex;
    height: 80px;
    align-items: center;
    justify-content: space-between;
    background-color: #7a0404;
    padding: 0 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    border-radius: 5px;
    margin: 7px;
    animation: fadeIn 1s ease-out;
  }
  
  .header_logo_text {
    font-size: 40px;
    color: #ffffff;
  }
  
  .header_right {
    display: flex;
  }
  
  .header_right_item {
    margin: 10px;
    cursor: pointer;
    color: #ffffff;
    font-size: 1.1em;
    transition: color 0.3s ease;
  }
  
  .header_right_item:hover {
    color: rgb(124, 118, 118);
    transform: scale(1.05); 
  }
  
  .header_right_item:active {
    transform: scale(0.95); 
  }
  
  /* From Uiverse.io by Nawsome */ 
  .loader {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
  }
  
  .slider {
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    margin: 0 15px;
    height: 80px;
    width: 20px;
    border-radius: 30px;
    box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.1), -15px -15px 30px #080101,
      inset -5px -5px 10px rgba(0, 0, 255, 0.1),
      inset 5px 5px 10px rgba(0, 0, 0, 0.1);
    position: relative;
    animation: slideUp 1s ease-out;
  }
  
  .slider::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    border-radius: 100%;
    box-shadow: inset 0px 0px 0px rgba(0, 0, 0, 0.3), 0px 420px 0 400px #2697f3,
      inset 0px 0px 0px rgba(0, 0, 0, 0.1);
    animation: animate_2 2.5s ease-in-out infinite;
    animation-delay: calc(-0.5s * var(--i));
  }
  
  @keyframes animate_2 {
    0% {
      transform: translateY(250px);
      filter: hue-rotate(0deg);
    }
  
    50% {
      transform: translateY(0);
    }
  
    100% {
      transform: translateY(250px);
      filter: hue-rotate(180deg);
    }
  }
  /* From Uiverse.io by joe-watson-sbf */ 
  .search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
  }
  
  .search__input {
    font-family: inherit;
    font-size: inherit;
    background-color: #f4f2f2;
    border: none;
    color: #646464;
    padding: 0.7rem 1rem;
    border-radius: 30px;
    width: 12em;
    transition: all ease-in-out .5s;
    margin-right: -2rem;
  }
  
  .search__input:hover, .search__input:focus {
    box-shadow: 0 0 1em #00000013;
  }
  
  .search__input:focus {
    outline: none;
    background-color: #f0eeee;
  }
  
  .search__input::-webkit-input-placeholder {
    font-weight: 100;
    color: #ccc;
  }
  
  .search__input:focus + .search__button {
    background-color: #f0eeee;
  }
  
  .search__button {
    border: none;
    background-color: #f4f2f2;
    margin-top: .1em;
  }
  
  .search__button:hover {
    cursor: pointer;
  }
  
  .search__icon {
    height: 1.3em;
    width: 1.3em;
    fill: #b4b4b4;
  }